name: Node.js CI

on:
  workflow_dispatch:

  push:
    tags: ['*']

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4 # will create .npmrc
      with: # does not publish if missing
        node-version: 20 # does not publish if missing
        registry-url: 'https://registry.npmjs.org' # does not publish if missing
    - run: npm ci
    - run: npm run build
    - name: publish
      shell: bash
      run: |
        export NPM_TOKEN=${{ env.NPM_TOKEN }}
        echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
        npm publish 
